.hero { height: 253px; border-radius: 9px; background: linear-gradient(100deg, #fbf4ee, #e7dacb); position: relative; overflow: hidden; }
.hero > div { position: absolute; z-index: 3; left: 43px; top: 32px; }
.hero p { margin: 0 0 12px; color: var(--orange); font-size: 10px; text-transform: uppercase; font-weight: 600; }
.hero h1 { font-size: 32px; line-height: 1.1; letter-spacing: -1.2px; margin: 0 0 8px; }
.hero span { font-size: 12px; line-height: 1.5; }
.hero a { display: block; color: #fff; background: #111; width: 112px; padding: 10px; text-align: center; font-size: 10px; border-radius: 3px; margin-top: 15px; }
.hero > img { position: absolute; z-index: 2; width: 190px; height: 88%; right: 28%; bottom: 0; object-fit: cover; border-radius: 25px 25px 5px 5px; }
.hero .watch { width: 116px; height: 110px; right: 16%; top: 2px; object-fit: cover; border-radius: 0; }
.hero .shoe { width: 190px; height: 120px; right: 12%; bottom: 9px; object-fit: cover; border-radius: 0; }
.hero .glasses { width: 180px; height: 66px; right: 2%; bottom: 8px; object-fit: cover; border-radius: 0; }
@media (max-width: 650px) {
  .hero { height: 300px; }
  .hero > div { left: 25px; top: 28px; }
  .hero h1 { font-size: 31px; }
  .hero > img { width: 145px; height: 150px; right: 28%; bottom: 0; }
  .hero .watch { width: 70px; height: 80px; right: 15%; top: auto; bottom: 20px; }
  .hero .shoe { width: 140px; height: 80px; right: -3%; bottom: 0; }
  .hero .glasses { display: none; }
}
