.dealCats {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 23px;
    margin: 16px 0 13px
}

.status { min-height: 146px; display: grid; place-content: center; color: #666 }

.dealCats a {
    height: 117px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: var(--ink);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column
}

.dealCats img {
    height: 74px;
    width: 100%;
    object-fit: cover;
    background: #f7f7f7
}

.dealCats strong {
    font-size: 12px;
    margin-top: 4px
}

.dealCats small {
    font-size: 10px;
    color: var(--orange);
    margin-top: 2px
}

.dealCats .all {
    justify-content: center
}

.all b {
    background: #111;
    color: white;
    clip-path: polygon(50% 0%, 62% 13%, 79% 8%, 86% 26%, 100% 39%, 89% 53%, 93% 72%, 75% 78%, 61% 100%, 48% 87%, 30% 92%, 24% 75%, 0 63%, 12% 47%, 7% 29%, 25% 20%, 37% 2%);
    width: 45px;
    height: 45px;
    padding: 8px;
    font-size: 22px;
    margin-bottom: 4px
}

@media(max-width:1050px) {
    .dealCats {
        gap: 10px
    }

}
@media(max-width:700px) {
    .dealCats {
        display: flex;
        overflow-x: auto
    }

    .dealCats a {
        min-width: 105px
    }

}
