.card {
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    background: #fff;
    padding: 18px
}

.card header {
    margin-bottom: 10px
}

.card h2 {
    margin: 0;
    font-size: 15px
}

.card p {
    margin: 0 0 13px;
    color: #666;
    font-size: 10px;
    line-height: 1.6
}

.card a {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(90deg, #ff4215, #ff631c);
    color: #fff;
    padding: 9px 18px;
    font: 600 10px "DM Sans";
    text-decoration: none
}