.item { display: flex; align-items: center; gap: 15px; }
.item img { width: 70px; height: 55px; border-radius: 5px; object-fit: cover; background: #f5f5f4; }
.item p { margin: 0; }
.item b, .item small { display: block; }
.item b { font-size: 11px; margin-bottom: 5px; }
.item small { font-size: 9px; color: #666; }
@media(max-width:700px) { .item { min-width: 170px; } }
