.benefits {
    height: 70px;
    background: #fff7f2;
    border-radius: 10px;
    margin: 17px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center
}

.benefits>div {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 80px
}

.benefits i {
    font-style: normal;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #ffede2;
    color: var(--orange);
    display: grid;
    place-items: center;
    font-size: 23px
}

.benefits p {
    margin: 0
}

.benefits b,
.benefits small {
    display: block
}

.benefits b {
    font-size: 11px;
    margin-bottom: 4px
}

.benefits small {
    font-size: 10px
}

@media(max-width:1050px) {
    .benefits>div {
        padding-left: 20px
    }

}
@media(max-width:700px) {
    .benefits {
        height: auto;
        grid-template-columns: 1fr 1fr;
        padding: 13px 0;
        gap: 10px
    }

    .benefits>div {
        padding-left: 15px;
        gap: 8px
    }

    .benefits i {
        width: 36px;
        height: 36px;
        font-size: 18px
    }

    .benefits b {
        font-size: 10px
    }

    .benefits small {
        font-size: 9px
    }

}
